/* common stlyes or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 21px;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

/* header style */
header{
    width: 1000px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #562EFF;
}
.logo img{
    color: white;
    width: 40.42px;
    height: 51px;
}
.logo span{
    margin-left: 15px;
    font-size: 24px;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
.menu a{
    margin-left: 36px;
    text-decoration: none;
    color: white;
    size: 16px;
}
a img{
    width: 51px;
    height: 51px;
}

/* -------------
top player style
---------------- */
.section-tittle{
    color: #562EFF;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 84px;
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #D1D1D1;
}

/* ------------
top blog style 
-------------- */
.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 46px;
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-tittle{
    font-size: 20px;
    margin-top: 5px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}

/* ------------------
Latest Courses styles 
--------------------- */
.section-tittle{
    margin-bottom: 25px;
}
.courses{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
}
.course{
    padding: 10px;
    height: 300px;
    width: 270px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 20px;
}
.course-author{
    color: #ED6B4F;
    font-size: 15px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-info span{
    color: #A2A2A2;
    font-size: 15px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.5;
}
.duration{
    background-color: #FFE4E8;
    width: 95px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF4A60;
}
.duration span{
    color: #FF4A60;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    margin-left: 6px;
}

/* --------------------
media query breakpoints
----------------------- */
/* mobile devices */
@media only screen and (max-width:688px) {
    header{
        width: 100%;
        justify-content: center
    }
    main{
        width: 100%;
        margin-left: 50%;
    }
    .container{
        width: 100%;
        align-items: center;
    }
    .players, .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-tittle{
        text-align: center;
    }
    .courses{
        flex-direction: column;
        align-items: center;
    }
}